%hidden {
  display: none;
}

%box-shadow {
  box-shadow: rgb(0, 0, 0, 0.2) 0 6px 24px;
}

%panel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px 20px;
  font-size: 13px;
}
