@import './mixins';

.enhancer-field {
  display: block;
  margin: 16px 0;
  font-size: 13px;

  &.disabled {
    opacity: 0.65;
  }

  label {
    display: block;
    padding-bottom: 4px;
  }

  .enhancer-control {
    clear: both;
    position: relative;
    text-align: inherit;

    label {
      color: $gray;
      font-size: 12px;
      left: 16px;
      right: 16px;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      transform-origin: 0% 0%;
      transition: all 0.3s ease-in-out 0s;
      z-index: 100;
      transform: none;
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input {
      &.enhancer-text-input {
        display: block;
        appearance: none;
        border-style: solid;
        border-width: 1px;
        border-radius: 4.5px;
        box-shadow: transparent 0 0 0 0 inset;
        font-family: inherit;
        font-size: 12px;
        font-weight: 300;
        line-height: 1em;
        margin: 0;
        outline: none;
        transition: color 0.1s ease 0s, border-color 0.1s ease 0s, opacity 0.3s ease-in-out 0s;
        width: 100%;
        padding: 20px 10px 4px 12px !important;

        @include light {
          background: $bg_light;
          border-color: $border_light;
          color: $fg_light;
        }

        @include dark {
          background: $bg_dark;
          border-color: $border_dark;
          color: $fg_dark;
        }

        &:focus,
        &.has-value,
        &[placeholder] {
          & + label {
            color: $blueish_light;
            transform: translate(-5px, -8px);
            font-size: 70%;
          }
        }

        &:disabled {
          &,
          & + label {
            opacity: 0.4;
          }
        }

        &.is-monospace {
          font-family: 'Oxygen Mono', monospace;
        }
      }
    }

    textarea {
      border-style: solid;
      border-width: 1px;
      border-radius: 4.5px;
      font-size: 12px;
      line-height: 1em;
      margin: 0;
      outline: none;
      min-height: 125px;
      max-width: 100%;
      min-width: 100%;
      padding: 6px 10px;

      @include light {
        background: $bg_light;
        border-color: $border_light;
        color: $fg_light;
      }

      @include dark {
        background: $bg_dark;
        border-color: $border_dark;
        color: $fg_dark;
      }
    }

    &.percent {
      input.enhancer-text-input {
        padding-right: 26px !important;
      }

      &::after {
        content: '%';
        position: absolute;
        right: 2px;
        top: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 19px 8px 4px 0;

        @include light {
          background-color: $bg_light;
          color: $fg_light;
        }

        @include dark {
          background-color: $bg_dark;
          color: $fg_dark;
        }
      }
    }
  }

  .enhancer-checkbox {
    cursor: pointer;
    display: block;
    line-height: 1.25;
    position: relative;
    padding: 4px 0;

    input {
      cursor: pointer;
      margin: 0 4px 0 0;
      vertical-align: top;
    }
  }

  .enhancer-field-title {
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    margin: 4px 0 8px;
  }
}

.enhancer-button {
  appearance: none;
  border: 1px solid $blueish;
  font-family: inherit;
  line-height: 1em;
  text-shadow: none;
  background: transparent;
  color: $blueish;
  border-radius: 6px;
  font-size: 13px;
  font-weight: normal;
  padding: 8px 34px;
  width: auto;
  pointer-events: all;
  box-shadow: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
  }

  &:focus {
    box-shadow: $blueish_transparent 0 0 10px;
  }
}

.notification {
  position: fixed;
  z-index: 100000;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, calc(100% + 40px));
  max-width: 80vw;
  transition: transform 0.1s ease-in-out;
  border: 1px solid $blueish;
  border-radius: 6px;
  box-shadow: $blueish_transparent 0 0 10px;
  padding: 8px 34px;
  font-size: 13px;

  &.show {
    transform: translate(-50%, 0);
  }

  @include light {
    background-color: $bg_light;
    color: $fg_light;
  }

  @include dark {
    background-color: $bg_dark;
    color: $fg_dark;
  }
}

.dot {
  margin: 0 0.25em;
}

.warning {
  display: block;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 4px;
  background-color: #d04444;
  color: #eeeeee;

  &:empty {
    display: none;
  }
}

.enhancer-hideCreator {
  cursor: pointer;

  button {
    height: 1em;
  }

  .creator-settings-modal .body > .hidden &.hide {
    display: none;
  }

  .creator-settings-modal .body > :not(.hidden) &.show {
    display: none;
  }
}

.enhancer-hideCreatorPlus {
  cursor: pointer;

  button {
    height: 1em;
  }

  .creator-settings-modal .body > .hide-plus &.hide {
    display: none;
  }

  .creator-settings-modal .body > :not(.hide-plus) &.show {
    display: none;
  }
}

.enhancer-creator-settings,
.enhancer-hideCreator button,
.enhancer-hideCreatorPlus button {
  border: none;
  background: none;
  margin-left: auto;
  color: inherit;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 5px;

  svg {
    fill: white;
    fill: currentcolor;
    opacity: 0.7;
    height: 100%;
    width: auto;
  }

  @media only screen and (max-width: 768px) {
    height: 30px !important;
    padding: 7px;
    background-color: var(--this-bg-color, rgb(111 188 230));
    border: var(--this-border, none);
    border-radius: 15px;
  }
}

.modal {
  $mtop: 12px;
  $mleft: 20px;
  $ptop: 25px;
  $pleft: 30px;

  position: absolute;
  max-width: $maxwidth;
  margin: $mtop auto;

  &,
  &__wrapper,
  &__wrapper::before,
  &__inner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__wrapper {
    position: fixed;
    z-index: 99999;
  }

  &__wrapper::before {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: 0.6;
  }

  &__inner {
    position: absolute;
    margin: 0 $mleft;
    border-radius: $border_radius;
    bottom: unset;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    @extend %box-shadow;

    @include light {
      background-color: $bg_light;
      color: $fg_light;
    }

    @include dark {
      background-color: $bg_dark;
      color: $fg_dark;
    }

    >* {
      flex: 0;
      padding: $ptop $pleft;
      box-sizing: border-box;
    }

    .heading {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      border-bottom: 1px solid $gray_transparent;

      h1 {
        margin: 0;
        width: 100%;
        font-weight: 300;
      }

      .close {
        flex: 0;

        svg {
          height: 1em;
          width: auto;
          vertical-align: middle;
          cursor: pointer;
          fill: currentcolor;
        }
      }
    }
  }

  .body {
    overflow: auto;
  }

  .more {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.8em;
    font-weight: normal;
  }

  .version {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $gray_transparent;
  }

  .version-title {
    margin-bottom: 4px;
    font-weight: 300;
  }

  .version:first-child .version-title {
    margin-top: 0;
  }

  .all-releases {
    font-size: 1.1em;
    padding-top: $ptop;
  }

  .enhancer-welcome-banner {
    background: rgb(128 128 128 / 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 32px;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
