@import './mixins';

.enhancer-field {
  display: block;
  margin: 16px 0;
  font-size: 13px;

  &.disabled {
    opacity: 0.65;
  }

  label {
    display: block;
    padding-bottom: 4px;
  }

  .enhancer-control {
    clear: both;
    position: relative;
    text-align: inherit;

    label {
      color: $gray;
      font-size: 12px;
      left: 16px;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      transform-origin: 0% 0%;
      transition: all 0.3s ease-in-out 0s;
      z-index: 100;
      transform: none;
      pointer-events: none;
    }

    input {
      &.enhancer-text-input {
        display: block;
        appearance: none;
        border-style: solid;
        border-width: 1px;
        border-radius: 4.5px;
        box-shadow: transparent 0 0 0 0 inset;
        font-family: inherit;
        font-size: 12px;
        font-weight: 300;
        line-height: 1em;
        margin: 0;
        outline: none;
        transition: color 0.1s ease 0s, border-color 0.1s ease 0s, opacity 0.3s ease-in-out 0s;
        width: 100%;
        padding: 20px 10px 4px 12px !important;

        @include light {
          background: $bg_light;
          border-color: $border_light;
          color: $fg_light;
        }

        @include dark {
          background: $bg_dark;
          border-color: $border_dark;
          color: $fg_dark;
        }

        &:focus,
        &.has-value,
        &[placeholder] {
          & + label {
            color: $blueish_light;
            transform: scale(0.8) translate(-5px, -8px);
          }
        }

        &:disabled {
          &,
          & + label {
            opacity: 0.4;
          }
        }

        &.is-monospace {
          font-family: 'Oxygen Mono', monospace;
        }
      }
    }

    textarea {
      border-style: solid;
      border-width: 1px;
      border-radius: 4.5px;
      font-size: 12px;
      line-height: 1em;
      margin: 0;
      outline: none;
      min-height: 125px;
      max-width: 100%;
      min-width: 100%;
      padding: 6px 10px;

      @include light {
        background: $bg_light;
        border-color: $border_light;
        color: $fg_light;
      }

      @include dark {
        background: $bg_dark;
        border-color: $border_dark;
        color: $fg_dark;
      }
    }

    &.percent {
      input.enhancer-text-input {
        padding-right: 26px !important;
      }

      &::after {
        content: '%';
        position: absolute;
        right: 2px;
        top: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 19px 8px 4px 0;

        @include light {
          background-color: $bg_light;
          color: $fg_light;
        }

        @include dark {
          background-color: $bg_dark;
          color: $fg_dark;
        }
      }
    }
  }

  .enhancer-checkbox {
    cursor: pointer;
    display: block;
    line-height: 1.25;
    position: relative;
    padding: 4px 0;

    input {
      cursor: pointer;
      margin: 0 4px 0 0;
      vertical-align: top;
    }
  }

  .enhancer-field-title {
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    margin: 4px 0 8px;
  }
}

.enhancer-button {
  appearance: none;
  border: 1px solid $blueish;
  cursor: pointer;
  font-family: inherit;
  line-height: 1em;
  text-shadow: none;
  background: transparent;
  color: $blueish;
  border-radius: 6px;
  font-size: 13px;
  font-weight: normal;
  padding: 8px 34px;
  width: auto;
  pointer-events: all;
  box-shadow: none;

  &:focus {
    box-shadow: $blueish_transparent 0 0 10px;
  }
}

.notification {
  position: fixed;
  z-index: 100000;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, calc(100% + 40px));
  max-width: 80vw;
  transition: transform 0.1s ease-in-out;
  border: 1px solid $blueish;
  border-radius: 6px;
  box-shadow: $blueish_transparent 0 0 10px;
  padding: 8px 34px;
  font-size: 13px;

  &.show {
    transform: translate(-50%, 0);
  }

  @include light {
    background-color: $bg_light;
    color: $fg_light;
  }

  @include dark {
    background-color: $bg_dark;
    color: $fg_dark;
  }
}

.dot {
  margin: 0 0.25em;
}
