
html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 12px 24px;
  margin-bottom: 12px;
}

h2 {
  margin-top: 60px;
}
h1 + h2 {
  margin-top: initial;
}

.title {
  display: block;
  font-size: 110%;
  margin-top: 24px;
}

.hint {
  display: block;
  font-size: 85%;
}

.warning {
  display: block;
  padding: 4px;
  margin: 5px 1px 1px;
  border-radius: 5px;
  background-color: #d04444;
  color: #eee;
}

.spacing {
  clear: both;
  display: block;
  height: 40px;
}

.flex {
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}