$maxwidth: 750px;

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 12px;
}

form {
  padding: 12px 24px;
}

label {
  cursor: pointer;
}

h2 {
  margin-top: 60px;
}
h1 + h2 {
  margin-top: 2em;
}

.title {
  display: block;
  font-size: 110%;
  margin-top: 24px;
}

.hint {
  display: block;
  font-size: 85%;
}

.warning {
  display: block;
  padding: 4px;
  margin: 5px 1px 1px;
  border-radius: 5px;
  background-color: #d04444;
  color: #eee;
}

.spacing {
  clear: both;
  display: block;
  height: 40px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  height: 1em;
  margin: 0;
}

.modal {
  $mtop: 12px;
  $mleft: 20px;
  $ptop: 25px;
  $pleft: 30px;

  position: absolute;
  max-width: $maxwidth;
  margin: $mtop auto;

  &, &__wrapper, &__wrapper::before, &__inner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__wrapper {
    position: fixed;
  }

  &__wrapper::before {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: 0.6;
  }

  &__inner {
    position: absolute;
    margin: 0 $mleft;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 1px;
    bottom: unset;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    > * {
      flex: 0;
      padding: $ptop $pleft;
      box-sizing: border-box;
    }

    .heading {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;

      h1 {
        margin: 0;
        width: 100%;
      }

      .close {
        flex: 0;

        svg {
          height: 1em;
          width: auto;
          vertical-align: middle;
          cursor: pointer;
          fill: currentColor;
        }
      }

      &::after {
        content: '';
        position: absolute;
        background-color: gray;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .body {
    overflow: auto;
  }

  .more {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.8em;
    font-weight: normal;
    font-style: italic;
  }

  .version-title {
    margin-bottom: 0;
  }

  .version:first-child .version-title {
    margin-top: 0;
  }

  .all-releases {
    font-size: 1.1em;
    font-style: italic;
    padding-top: $ptop;
  }
}

body.standalone {
  max-width: $maxwidth;
  margin: 12px auto;
  background-color: #aea3a3;
  border: 1.5px solid #706c6c;

  form {
    background-color: #e3e3e3;
    padding: 20px 28px;
  }

  .page-title {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 45px;

    .icon {
      height: 1.8em;
    }

    .text {
      width: 100%;
    }
  }
}
