@import './helpers/mixins';
@import './queue/queue';
@import './queue/queue_share';

.enhancer-hideCreator {
  grid-area: follow;
  align-self: center;
  display: flex;
  border: none;
  background: none;
  width: 1.3em;
  height: 1.3em;
  margin-left: auto;
  color: inherit;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 5px;

  svg {
    fill: white;
    fill: currentcolor;
    opacity: 0.7;
  }

  h2:nth-child(2).hidden ~ &.hide {
    display: none;
  }

  h2:nth-child(2):not(.hidden) ~ &.show {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: var(--this-bg-color, var(--bg-color));
    border: var(--this-border, none);
    border-radius: 15px;
  }
}

button.enhancer-hideCreator-pre {
  margin-right: 3em;
  margin-left: 40px;

  @media only screen and (max-width: 768px) {
    margin-right: 40px;
  }
}

.enhancer-rss {
  width: 30px;
  height: 30px;
  grid-area: follow;
  align-self: center;
}

div.enhancer-queueButton {
  top: 32px;
  bottom: unset;
  padding: 1px;
  line-height: 0;
  opacity: 0;
  pointer-events: initial;

  &%hover {
    opacity: 1;
  }

  @mixin svghover {
    svg {
      #main {
        fill: white;
        fill: currentcolor;
      }

      #inner {
        fill: none;
      }
    }
  }

  @include hov {
    @extend %hover;
    @include svghover;

    div {
      display: inherit;

      @include mobile {
        display: none;
      }
    }
  }

  $self: &;

  @at-root [data-context-menu-hover-trigger] {
    @include hov {
      #{$self} {
        @extend %hover;
      }
    }
  }

  div {
    display: none;
    position: absolute;
    top: 0;
    right: 24px;
    width: unset;
    padding: 4px;
    line-height: 22px;
    font-size: 11px;
    white-space: nowrap;
  }

  svg {
    width: 19px;
    height: 19px;
    padding: 3px;
    pointer-events: initial;

    #inner,
    #outline {
      fill: white;
      fill: currentcolor;
    }
  }

  @include mobile {
    opacity: 1;
    @include svghover;

    background-color: black;
    top: 8px;
  }
}

a.enhancer-queueButtonAll {
  color: inherit;

  svg {
    width: 12px;
    height: 12px;
    fill: white;
    fill: currentcolor;
  }
}

.enhancer-hiddenVideo {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.75;
  }

  >* {
    opacity: 0.05;
  }
}

.enhancer-yt {
  &-err,
  &-outside {
    display: none;
  }

  @media (max-width: $tablet) {
    &-inside {
      display: none;
    }

    &-outside {
      display: unset;
    }
  }
}

.vjs-control .vjs-button,
.vjs-control.vjs-button {
  // need to set these manually again ...
  position: relative;
  font-family: VideoJS;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    line-height: 1.67;
  }

  &:not([disabled])::before {
    cursor: pointer;
  }
}

.enhancer-tooltip {
  position: absolute;
  bottom: 48px;
  z-index: 999;
}

.enhancer-volume.vjs-time-control {
  .video-js.vjs-nebula &,
  .video-js.vjs-nebula &.volume-conditional.volume-show,
  .video-js.vjs-nebula .vjs-volume-panel.vjs-hover ~ & {
    width: 3.5em;
    transition: width 0.25s ease-in-out;
    overflow: hidden;
  }

  .video-js.vjs-nebula &.volume-conditional {
    width: 0;
  }

  .volume-display {
    padding: 0 0.15em;
  }
}

.video-js.vjs-nebula .enhancer-time {
  display: flex;
  width: auto;
  cursor: pointer;
}

.video-js.vjs-nebula .vjs-control-bar > .vjs-time-control {
  display: none; // can't remove it, someone adds it anyways
}

#top-row {
  position: relative;
}

body > .watch-on-nebula {
  display: none !important;
}
