@use 'helpers/mixins';
@use 'queue/queue';
@use 'queue/queue_share';
@use 'helpers/variables';

a[href='/videos/_dummy_episode_'] {
  &,
  & + div {
    display: none;
  }
}

a[href^='/videos/'][aria-hidden] {
  body.enhancer-videoGridAsList & {
    flex: 0 0 min(35%, 297.333px);
    margin-top: auto;
    margin-bottom: auto;
  }

  body.enhancer-videoGridAsList div:has(> &) {
    display: flex;
    gap: 1em;
    width: 100%;

    > div {
      flex-grow: 1;
    }
  }

  body.enhancer-videoGridAsList div:has(> div > &) {
    grid-template-columns: 1fr !important;
    gap: 1em;
  }
}

html.enhancer-fullVideo.page-video {
  #video-player {
    height: 100vh !important;
    width: 100vw !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    max-width: 100% !important;
    margin: 0 !important;
    
    &, video, .video-poster {
      border-radius: 0 !important;
    }
  }

  main > div {
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }

  #NebulaApp > div, #NebulaApp > div > div {
    margin-top: 0 !important;
  }

  #app-header {
    position: absolute !important;
    top: 100vh !important;
  }

  [aria-label="video description"] {
    margin-top: 96px;
  }
}

.enhancer-creator-settings {
  grid-area: follow / follow-end;
  align-self: center;
  display: flex;
  height: 1.15em;
}

.enhancer-field {
  display: flex;
  gap: 12px;
  align-items: center;

  h3 {
    margin: 0 !important;
  }

  > .enhancer-control, > label {
    flex: 1;
  }
}

.enhancer-rss {
  width: 30px;
  height: 30px;
  grid-area: follow;
  align-self: center;
  margin-left: -40px;
}

.enhancer-queueButton {
  top: 24px !important;
  bottom: unset;
  line-height: 0;
  opacity: 0;
  pointer-events: initial;

  &%hover {
    opacity: 1;
  }

  @include mixins.hov {
    @extend %hover;

    svg {
      #main {
        fill: white;
        fill: currentcolor;
      }

      #inner {
        fill: none;
      }
    }

    div.text {
      display: inherit;
    }
  }

  $self: &;

  @at-root [data-icon-hover-trigger] {
    @include mixins.hov {
      #{$self} {
        @extend %hover;
      }
    }
  }

  svg {
    width: 19px;
    height: 19px;
    padding: 3px;
    pointer-events: initial;

    #inner,
    #outline {
      fill: white;
      fill: currentcolor;
    }

    #main {
      fill: none;
    }
  }

  @include mixins.mobile {
    opacity: 1;

    div {
      background-color: black;
      color: white;
    }
  }
}

div.nebula-watch-later {
  @include mixins.mobile {
    >div {
      background-color: black;
      color: white;
    }

    svg:first-child {
      display: unset;
    }
  }
}

.enhancer-hiddenVideo {
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.75;
  }

  >* {
    opacity: 0.05;
  }
}

.enhancer-yt {
  &-err,
  &-outside {
    display: none !important;
  }

  @media (max-width: variables.$tablet) {
    &-inside {
      display: none !important;
    }

    &-outside {
      display: unset !important;
    }
  }
}

time[datetime] {
  position: relative;

  @include mixins.hov {
    .enhancer-datetime {
      display: block;
    }
  }
}

.enhancer-datetime {
  position: absolute;
  top: -2.5em;
  top: calc(-2em - 8px);
  transform: translate(-50%, 0);
  white-space: nowrap;
  padding: 4px 6px;
  border-radius: 2px;
  background-color: black;
  background-color: var(--bg-color);
  border-color: black;
  color: var(--font-color);
  display: none;
  font-size: 0.75rem;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    border-top: 5px solid var(--bg-color);
    position: absolute;
    left: 50%;
    left: calc(50% - 2.5px);
    bottom: -5px;
  }

  &,
  &::after {
    @include mixins.light {
      filter: drop-shadow(variables.$shadow_light 0 0 6px);
    }

    @include mixins.dark {
      filter: drop-shadow(variables.$shadow_dark 0 0 4px);
    }
  }

  @include mixins.light {
    border-color: white;
  }
}

div.enhancer-tooltip {
  position: absolute;
  bottom: 60px;
  z-index: 999;
  transform-origin: bottom;

  &.show-anim {
    animation: popup 100ms ease-out normal forwards;
  }

  &.hide-anim {
    animation: popup 100ms ease-in reverse forwards;
  }

  &.hidden {
    display: none;
  }

  @keyframes popup {
    0% {
      transform: scale(0.5);
    }

    100% {
      transform: scale(1);
    }
  }
}

.enhancer-volume {
  transition: width 0.25s ease-in-out;
  overflow: hidden;
  margin-right: -8px;
  height: 100%;
  margin-left: auto;

  &:not(.volume-conditional),
  #volume-controller-conditional:hover &,
  #volume-controller-conditional:active & {
    width: 3.5em;
  }

  &.volume-conditional {
    width: 0;
  }
}

#volume-controller-conditional,
#volume-controller {
  .volume-slider-container {
    transition: opacity 0.4s ease-in-out 0.1s, margin-right 0.2s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover, &:active {
      width: calc(120px + 3.5em);

      .volume-slider-container {
        margin-right: calc(3.5em - 8px);
      }
    }
  }
}

#volume-controller {
  width: calc(33px + 3.5em);

  .volume-slider-container {
    margin-right: calc(3.5em - 8px);
  }
}

.enhancer-time {
  &.enhancer-hide-remaining .enhancer-time-remaining,
  &.enhancer-hide-current .enhancer-time-current {
    display: none;
  }
}

.enhancer-queue-control {
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &-prev svg {
    transform: scaleX(-1);
  }

  svg {
    height: 16px;
  }

  path {
    fill: currentcolor;
  }
}

div.enhancer-hidden,
button.enhancer-hidden {
  display: none;
}

#top-row {
  position: relative;
}

body > .watch-on-nebula {
  display: none !important;
}

a.enhancer-queueButtonAll {
  opacity: 1;

  svg {
    #main,
    #outline {
      fill: white;
      fill: currentcolor;
    }
  }
}

div.enhancer-creator-settings-wrap {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  margin-right: 4px;
  color: white;

  @media only screen and (width >= 574px) {
    @media (hover: hover) and (pointer: fine) {
      width: auto;
      margin-right: 20px;
    }
  }
  @media only screen and (width <= 573px) {
    margin-right: 0;
  }
  @media only screen and (width >= 574px) {
    @media (hover: hover) and (pointer: fine) {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  button, a {
    cursor: pointer;
    pointer-events: all;
    text-align: center;
    transition-property: all;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    text-shadow: rgb(0 66 102 / 0.25) 0 0.5px 3px;
    position: relative;
    width: 32px;
    height: 32px !important;
    background: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border: medium;
    color: rgb(255 255 255);
    margin: 0;

    --focus-visible-outline-offset: -3px;
    --focus-visible-border-radius: 7px;

    padding: 6px;
    border-radius: var(--focus-visible-border-radius);

    &:hover {
      background: none;
    }

    @media only screen and (width >= 574px) {
      width: 32px;
      height: 32px !important;
      margin-left: 24px;
      margin-right: 24px;
    }
    @media only screen and (width <= 573px) {
      width: 48px;
      height: 48px !important;
      margin-left: 24px;
      margin-right: 24px;
    }
    @media (hover: hover) and (pointer: fine) {
      width: 48px;
      height: 48px !important;
    }
    @media (hover: hover) and (pointer: fine) {
      @media only screen and (width >= 574px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &::after {
      --typography-name: callout;

      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      content: attr(data-label);
      position: absolute;
      bottom: -16px;
      left: 0;
      right: 0;
      display: flex;
      -moz-box-pack: center;
      justify-content: center;
      white-space: nowrap;

      @media only screen and (width <= 573px) {
        --typography-name: paragraph;

        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        bottom: -18px;
      }
      @media only screen and (width >= 574px) {
        --typography-name: callout;

        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        bottom: -16px;
      }
      @media (hover: hover) and (pointer: fine) {
        --typography-name: paragraph;

        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        bottom: -18px;
      }
      @media (hover: hover) and (pointer: fine) {
        @media only screen and (width >= 574px) {
          display: none;
        }
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        display: flex;
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  a.enhancer-rss {
    svg {
      width: 32px;
      height: 32px;
      
      path:not(:last-child) {
        fill: none;
        stroke: none;
      }
    }
  }
}