.enhancer-queueButton {
    top: 8px;
    bottom: unset;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover, img:hover ~ .enhancer-queueButton {
    opacity: 1;
}
.enhancer-queueButton svg {
    width: 19px;
    height: 19px;
    padding: 3px;
    fill: white;
    fill: var(--font-color);
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover svg {
    width: 22px;
    height: 22px;
}


.enhancer-queue {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 360px;
    background-image: linear-gradient(0deg, var(--bg-color), var(--bg-color));
    background-color: #111;
    background-blend-mode: multiply;
    border-top-left-radius: 5px;
    overflow: hidden;
}
.enhancer-queue .element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.enhancer-queue .element:hover {
    cursor: pointer;
}
.enhancer-queue .element img {
    height: 90px;
    width: auto;
}
.enhancer-queue .element .data {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    padding: 12px 8px;
    overflow: hidden;
}
.enhancer-queue .element .data .title {
    font-size: 16px;
    max-height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.enhancer-queue .element .data .creator {
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.enhancer-queue .element .data .title,
.enhancer-queue .element .data .creator {
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.enhancer-queue .element .thumb {
    position: relative;
    flex-shrink: 0;
}
.enhancer-queue .element .thumb .play {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.enhancer-queue .element .thumb .play svg {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.enhancer-queue .element.playing .thumb .play {
    display: block;
}
.enhancer-queue .element.playing .thumb::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
    opacity: 0.4;
}