.enhancer-queueButton {
    top: 8px;
    bottom: unset;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover, img:hover ~ .enhancer-queueButton {
    opacity: 1;
}
.enhancer-queueButton svg {
    width: 19px;
    height: 19px;
    padding: 3px;
    fill: white;
    fill: currentColor;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover svg {
    width: 22px;
    height: 22px;
}


.enhancer-queue {
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 375px;
    transition: bottom 0.1s ease-in-out;
}
.enhancer-queue, .enhancer-queue-inner {
    margin: 1px;
    margin-bottom: 0px;
    background-image: linear-gradient(0deg, var(--bg-color), var(--bg-color));
    background-color: #333;
    background-blend-mode: difference;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.enhancer-queue::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: linear-gradient(0deg, var(--bg-color), var(--bg-color));
    background-color: #aaa;
    background-blend-mode: difference;
    z-index: -1;
}
.enhancer-queue.hidden {
    display: none;
}
.enhancer-queue.no-transition {
    transition: none;
}
.enhancer-queue .top {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px 12px;
    font-size: 12px;
}
.enhancer-queue .top .current {
    width: 100%;
    overflow: hidden;
}
.enhancer-queue .top .title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.enhancer-queue .top .close {
    padding: 8px;
    padding-right: 2px;
    cursor: pointer;
}
.enhancer-queue .elements {
    max-height: 270px;
    overflow: hidden auto;
}
.enhancer-queue .element {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.enhancer-queue .element.dragging {
    transition: transform 0.01s;
    transform: translateX(-9999px);
}
.enhancer-queue .element .drag {
    text-align: center;
    width: 22px;
    flex-shrink: 0;
}
.enhancer-queue .element img {
    height: 90px;
    width: auto;
}
.enhancer-queue .element .data {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto 0;
    padding: 4px 8px;
    overflow: hidden;
}
.enhancer-queue .element .data .title {
    font-size: 14px;
    max-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.enhancer-queue .element .data .creator {
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.enhancer-queue .element .data .title,
.enhancer-queue .element .data .creator {
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.enhancer-queue .element .thumb {
    position: relative;
    flex-shrink: 0;
}
.enhancer-queue .element .thumb .play {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.enhancer-queue .element .thumb .play svg {
    width: 100%;
    height: 100%;
    padding: 10px;
    fill: var(--bg-color);
}
.enhancer-queue .element.playing .thumb .play {
    display: block;
    overflow: hidden;
}
.enhancer-queue .element.playing .thumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
    opacity: 0.4;
}
.enhancer-queue .element .remove {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -25px;
    display: flex;
    align-items: center;
    transition: right 0.1s ease-in-out;
}
.enhancer-queue .element:hover .remove {
    right: 5px;
}
.enhancer-queue .element .remove .r {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    background-color: var(--bg-color);
}
.enhancer-queue .element .remove .r:hover {
    border-color: var(--font-color);
}
.enhancer-queue .top::after,
.enhancer-queue .element::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 1px;
    background-image: linear-gradient(0deg, var(--bg-color), var(--bg-color));
    background-color: #bbb;
    background-blend-mode: difference;
}
.enhancer-queue .top::after {
    top: unset;
    bottom: 1px;
}

@media (max-width: 987px) {
    .enhancer-queue {
        right: 63px;
    }
}
@media (max-width: 650px) {
    .enhancer-queue {
        left: 63px;
        right: 63px;
        width: unset;
    }
}
@media (max-width: 500px) {
    .enhancer-queue {
        left: 0;
        right: 0;
    }
}
@media (max-width: 360px) {
    .enhancer-queue .element img {
        height: auto;
        width: 160px;
        max-width: 35vw;
    }
}
@media (any-pointer: coarse), (any-hover: none) {
    .enhancer-queueButton {
        opacity: 1;
    }
    .enhancer-queue .element .remove {
        right: 5px;
    }
}