@use 'helpers/mixins';
@use 'helpers/variables';
@use 'helpers/placeholders';
@use 'helpers/shared';

@use 'player';

@use 'fonts/lato_oxygen';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: variables.$blueish_dark;
}

code,
pre,
textarea {
  font-family: 'Oxygen Mono', monospace;
}

form {
  padding: 20px;

  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px 40px;

    section {
      width: 50%;
      padding: 20px;

      @media screen and (max-width: variables.$tablet) {
        width: 100%;
      }

      h2 {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}

.title {
  display: block;
  font-size: 110%;
  margin-top: 24px;
}

.hint,
.small-text {
  font-size: 12px;
  opacity: 0.6;
  margin: 8px 0 0;
}

.small-text[href='#save'] {
  margin-left: 20px;
}

.small-text[href='#load'] {
  margin-left: 5px;
}

label + .enhancer-control,
.hint + .enhancer-control,
.enhancer-control + .enhancer-control {
  margin-top: 8px;
}

.loading {
  position: fixed;
  z-index: 99999;

  &,
  &::before {
    inset: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: 0.6;
  }

  svg {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px;
  }

  path {
    animation: bounce 2s ease-in-out infinite;
  }

  @for $n from 1 through 3 {
    .pth#{$n} {
      animation-delay: $n * 0.2s;
    }
  }
}

.hidden-creator {
  .avatar {
    width: 1em;
    height: 1em;
    border: 1px solid white;
    border-radius: 0.5em;
    margin-right: 5px;
  }

  h2 {
    display: flex;
    align-items: center;
  }

  .unhide-creator {
    display: flex;
    border: none;
    background: none;
    width: 1.3em;
    height: 1.3em;
    color: inherit;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 5px;
    margin-left: 6px;

    svg {
      fill: white;
      fill: currentcolor;
    }
  }

  .details {
    font-size: 0.65em;
    padding-left: 1em;
  }
}

.manage-hidden .body > p {
  font-style: italic;

  &:not(:last-child) {
    display: none;
  }
}

body {
  padding-bottom: 12px;

  @include mixins.light {
    background-color: variables.$bg_light;
    color: variables.$fg_light;
  }

  @include mixins.dark {
    background-color: variables.$bg_dark;
    color: variables.$fg_dark;
  }

  @include mixins.mobile {
    .no-mobile {
      display: none;
    }

    .mobile {
      display: inherit;
    }
  }

  &.standalone {
    form {
      max-width: variables.$maxwidth;
      margin: 24px auto;
      padding: 20px 28px;

      > :last-child {
        margin-bottom: 0;
      }
    }

    .page-title {
      height: 72px;
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      font-size: 18px;
      border-bottom: 1px solid variables.$gray_transparent;

      @media screen and (max-width: variables.$tablet) {
        font-size: 16px;
      }

      @media screen and (max-width: variables.$mobile) {
        font-size: 14px;
      }

      @media screen and (max-width: variables.$mobile_small) {
        font-size: 12px;
      }

      .icon {
        height: 2.2em;
      }

      .text {
        width: 100%;
      }
    }
  }

  &:not(.standalone) {
    header {
      display: none;
    }

    form {
      padding-top: 0;
    }
  }

  &.mv3 .mv2 {
    display: none;
  }
}

.mobile {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-3px);
  }

  30% {
    transform: translateY(0);
  }
}
