@import './helpers/mixins';
@import './helpers/variables';
@import './helpers/placeholders';
@import './helpers/shared';

@import './fonts/lato_oxygen';

$maxwidth: 850px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #4183c4;
}

code,
pre,
textarea {
  font-family: 'Oxygen Mono', monospace;
}

form {
  padding: 20px;

  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px 40px;

    section {
      width: 50%;
      padding: 20px;

      @media screen and (max-width: $tablet) {
        width: 100%;
      }

      h2 {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}

.title {
  display: block;
  font-size: 110%;
  margin-top: 24px;
}

.hint {
  display: block;
  font-size: 12px;
  opacity: 0.6;
  margin: 8px 0 0;
}

.hint + .enhancer-control {
  margin-top: 8px;
}

.warning {
  display: block;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 4px;
  background-color: #d04444;
  color: #eeeeee;
}

.loading {
  position: fixed;
  z-index: 99999;

  &,
  &::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: 0.6;
  }

  svg {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px;
  }

  path {
    animation: bounce 2s ease-in-out infinite;
  }

  @for $n from 1 through 3 {
    .pth#{$n} {
      animation-delay: $n * 0.2s;
    }
  }
}

.hidden-creator {
  .avatar {
    width: 1em;
    height: 1em;
    border: 1px solid white;
    border-radius: 0.5em;
    margin-right: 5px;
  }

  h2 {
    display: flex;
    align-items: center;
  }

  .unhide-creator {
    display: flex;
    border: none;
    background: none;
    width: 1.3em;
    height: 1.3em;
    color: inherit;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 5px;
    margin-left: 6px;

    svg {
      fill: white;
      fill: currentcolor;
    }
  }
}

.manage-hidden .body > p {
  font-style: italic;

  &:not(:last-child) {
    display: none;
  }
}

.modal {
  $mtop: 12px;
  $mleft: 20px;
  $ptop: 25px;
  $pleft: 30px;

  position: absolute;
  max-width: $maxwidth;
  margin: $mtop auto;

  &,
  &__wrapper,
  &__wrapper::before,
  &__inner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__wrapper {
    position: fixed;
    z-index: 99999;
  }

  &__wrapper::before {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: 0.6;
  }

  &__inner {
    position: absolute;
    margin: 0 $mleft;
    border-radius: $border_radius;
    bottom: unset;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    @extend %box-shadow;

    @include light {
      background-color: #ffffff;
      color: rgb(0 20 30);
    }

    @include dark {
      background-color: #111719;
      color: rgb(247 247 247);
    }

    >* {
      flex: 0;
      padding: $ptop $pleft;
      box-sizing: border-box;
    }

    .heading {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      border-bottom: 1px solid rgb(85 85 85 / 0.1);

      h1 {
        margin: 0;
        width: 100%;
        font-weight: 300;
      }

      .close {
        flex: 0;

        svg {
          height: 1em;
          width: auto;
          vertical-align: middle;
          cursor: pointer;
          fill: currentcolor;
        }
      }
    }
  }

  .body {
    overflow: auto;
  }

  .more {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.8em;
    font-weight: normal;
  }

  .version {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(85 85 85 / 0.1);
  }

  .version-title {
    margin-bottom: 4px;
    font-weight: 300;
  }

  .version:first-child .version-title {
    margin-top: 0;
  }

  .all-releases {
    font-size: 1.1em;
    padding-top: $ptop;
  }

  .enhancer-welcome-banner {
    background: rgb(128 128 128 / 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 32px;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

body {
  padding-bottom: 12px;

  @include light {
    background-color: #ffffff;
    color: rgb(0 20 30);
  }

  @include dark {
    background-color: #111719;
    color: rgb(247 247 247);
  }

  &.mobile .no-mobile {
    display: none;
  }

  &:not(.mobile) .mobile {
    display: none;
  }

  &.standalone {
    form {
      max-width: $maxwidth;
      margin: 24px auto;
      padding: 20px 28px;

      > :last-child {
        margin-bottom: 0;
      }
    }

    .page-title {
      height: 72px;
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      font-size: 18px;
      border-bottom: 1px solid rgb(85 85 85 / 0.1);

      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 14px;
      }

      @media screen and (max-width: $mobile_small) {
        font-size: 12px;
      }

      .icon {
        height: 2.2em;
      }

      .text {
        width: 100%;
      }
    }
  }

  &:not(.standalone) {
    header {
      display: none;
    }

    form {
      padding-top: 0;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-3px);
  }

  30% {
    transform: translateY(0);
  }
}
