
.video-mock {
  height: 80px;
  width: 100%;
  margin: 12px auto;
  padding: 0px 8px;
  font-size: 12px;
  // stolen from nebula.tv
  background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.54) 34%, rgba(0, 0, 0, 0.38) 47%, rgba(0, 0, 0, 0.28) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.02) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, rgba(0, 0, 0, 0) 100%);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;

  &-left, &-right {
    display: flex;
    align-items: center;
    margin-top: auto;

    > div {
      margin: 8px 4px;

      &.max svg {
        height: 16px;
      }

      &#queue-back svg {
        transform: scaleX(-1);
      }

      svg {
        width: 32px;
        height: auto;

        path:not([stroke]):not([fill]) {
          fill: currentColor;
        }
      }
    }
  }

  &-left {
    margin-right: auto;
  }
}