@use 'helpers/variables';

.video-mock {
  height: 80px;
  width: 100%;
  margin: 12px auto;
  padding: 0 8px;
  font-size: 12px;
  color: variables.$fg_dark;

  // stolen from nebula.tv
  $shadow: linear-gradient(to top, rgb(0 0 0) 0%, rgb(0 0 0 / 0.738) 19%, rgb(0 0 0 / 0.54) 34%, rgb(0 0 0 / 0.38) 47%, rgb(0 0 0 / 0.28) 56.5%, rgb(0 0 0 / 0.194) 65%, rgb(0 0 0 / 0.126) 73%, rgb(0 0 0 / 0.075) 80.2%, rgb(0 0 0 / 0.042) 86.1%, rgb(0 0 0 / 0.02) 91%, rgb(0 0 0 / 0.008) 95.2%, rgb(0 0 0 / 0.002) 98.2%, rgb(0 0 0 / 0) 100%);

  background-image: $shadow;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;

  &-left, &-right {
    display: flex;
    align-items: center;
    margin-top: auto;

    > div {
      margin: 8px 4px;

      svg {
        width: 32px;
        height: auto;

        path:not([stroke], [fill]) {
          fill: currentcolor;
        }
      }

      &.disabled:not(.selected) {
        opacity: 0.4;
      }

      &.selected {
        color: variables.$blueish_dark;

        path:not([stroke], [fill]), path[fill] {
          fill: variables.$blueish_dark;
        }

        path[stroke] {
          stroke: variables.$blueish_dark;
        }
      }

      &.max svg {
        height: 16px;
      }

      &#queue-prev svg {
        transform: scaleX(-1);
      }
    }
  }

  &-left {
    margin-right: auto;
  }

  &.right {
    justify-content: end;
  }

  @each $dir in (left, right) {
    &.shadow-#{$dir} {
      background-image: linear-gradient(to $dir, rgb(255 255 255 / 1) 0%, rgb(255 255 255 / 0) 10%), $shadow;
    }
  }
}

.configure-player {
  .enhancer-button:not(:last-child) {
    margin: 0 16px;
  }
}
