@import '../helpers/placeholders';

.enhancer-queue-share {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 450px;
  background-color: var(--bg-color);
  border-radius: $border_radius;
  box-sizing: border-box;
  @extend %box-shadow;

  &-bg {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--bg-color);
      opacity: 0.9;
    }

    &.hidden {
      @extend %hidden;
    }

    @media (max-width: $mobile) {
      top: 4px;
      bottom: 4px;
      left: 4px;
      right: 4px;
    }
  }

  .body {
    display: block;
    @extend %panel;
  }

  @media (max-width: $mobile) {
    padding: 12px;
  }
}
