.enhancer-queueButton {
    top: 8px;
    bottom: unset;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover, img:hover ~ .enhancer-queueButton {
    opacity: 1;
}
.enhancer-queueButton svg {
    width: 19px;
    height: 19px;
    padding: 3px;
    fill: white;
    fill: var(--font-color);
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    pointer-events: initial;
}
.enhancer-queueButton:hover svg {
    width: 22px;
    height: 22px;
}